<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_I_ItineraryService" maxReceivedMessageSize="20000000">
					<security mode="None">
						<transport clientCredentialType="None" />
						<message clientCredentialType="UserName" />
					</security>
				</binding>
			</basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/MyService/Middleware/RoutingServer"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I_ItineraryService"
                contract="RoutingService.I_ItineraryService" name="BasicHttpBinding_I_ItineraryService" />
        </client>
    </system.serviceModel>
</configuration>